<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="Log" switchValue="All">
        <listeners>
          <!--<add name="console" type="System.Diagnostics.ConsoleTraceListener"/>-->
          <add name="textwritter" type="System.Diagnostics.XmlWriterTraceListener" initializeData="trace.log" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>